# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo / build
.expo/
dist/
web-build/
expo-env.d.ts
*.expo*

# local env / secrets
.env
.env.local
.env.production
!.env.example
firebase.js
firebase.config.js

# Sensitive files
*.key
*.pem
*.p12
google-services.json
GoogleService-Info.plist

# Native / generated
/ios
/android
.kotlin/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS / misc
.DS_Store
*.log
*.pem

# IDE
.vscode/
.idea/
